.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.61);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ventanaModal {
    min-width: 550px;
    min-height: 290px;
    background-color: rgb(233, 215, 166);
    border: 4px solid rgb(80, 39, 0);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

#botonCerrarModal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 19px;
    font-weight: bold;
    color: rgb(54, 37, 0);
}
#botonCerrarModal:hover{
    background-color: rgb(255, 82, 82);
}

.campo {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: rgb(54, 37, 0);
}

input{
    font-size: 25px;
    width: 100%;
    max-width: 300px;
}

#botonGuardar{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    transition: 0.2s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    border: 2px solid black;
}

#botonGuardar:hover{
    background-color: rgb(83, 219, 83);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.336);
}

h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
/*==================================================================================================================*/

@media (max-width: 650px) {
    h2{
        font-size: 29px;
    }
    .ventanaModal {
        min-width: 50px;
        max-width: 400px;
        min-height: 220px;
    }
    #botonGuardar{
        font-size: 20px;
        width: 110px;
        height: 40px;
        margin-top: 0px;
    }
    .campo{
        font-size: 29px;
        margin-bottom: 0px;
    }
}