body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fondo {
    position: fixed;
    inset: 0;
    background-image: url("../IMAGENES/fondopagina.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    background-color: rgb(24, 24, 24);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 30px 10px rgba(0, 0, 0, 0.74);
    margin: 40px 0;
    border: 5px solid rgb(255, 168, 54);
    width: 900px;
    max-width: 90vw;
}

h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
    color: rgb(247, 199, 135);
}

table {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgb(0, 0, 0);
    border-spacing: 5px;
}

th {
    font-size: 28px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(40, 22, 0);
    overflow: hidden;
    border-bottom: 6px solid rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

tr{
    overflow: hidden;
}

td {
    text-align: center;
    border-radius: 6px;
    background-color: rgb(49, 49, 49);
    padding: 10px 25px;
    font-family: 'Arial', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 168, 54);
    font-weight: bolder;
    font-size: 18px;
    overflow-wrap: break-word;
    white-space: normal;
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 0 0 50px 1px rgb(0, 0, 0);
}

#botonSumar{
    background-color: rgb(61, 45, 0);
    height: 40px;
    width: 40px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: rgb(224, 177, 75);
    transition: 0.2s;
}

#botonSumar:hover{
    background-color: rgb(150, 95, 0);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    color: rgb(83, 64, 1);
}

.mensajeError {
    position: absolute;
    top: 0px;
    background-color: rgb(255, 82, 82);
    border: 3px solid rgb(0, 0, 0);
    font-size: 30px;
    padding: 30px;
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.5s,
        transform 0.5s;
    z-index: 2000;
}

.botonesEditar{
    width: 35px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.2s;
    border-radius: 5px;
    background-color: rgb(255, 220, 173);
}

.botonEditar:hover{
    background-color: rgb(98, 154, 244);
}

.botonEliminar{
    font-size: 25px;
    font-weight: bold;
}
.botonEliminar:hover{
    background-color: rgb(255, 82, 82);
}

#botonCategorias {
    font-size: 25px;
    background-color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid rgb(255, 168, 54);
    border-radius: 7px;
    color: rgb(255, 168, 54);
    margin-top: 20px;
}

.botonesConfig{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*===============================================================================================*/

@media (max-width: 850px) {
    main{
        width: 600px;
    }
    h1{
        font-size: 24px;
    }
    th {
        font-size: 18px;
    }
    td {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    main{
        width: 450px;
    }
    h1{
        font-size: 20px;
    }
    th {
        font-size: 13px;
    }
    td {
        font-size: 11px;
    }
}

@media (max-width: 550px) {
    main{
        width: 390px;
    }
    td {
        font-size: 10px;
    }
}